# ==========local-profile-config==========
spring:
  datasource:
    url: jdbc:h2:mem:productdb;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
  h2:
    console:
      enabled: true

app:
  security:
    require-https: false
  bootstrap:
    admin-email: admin@local.test
    admin-password: Admin@123
    admin-name: Local Admin

